# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
best_model/
final_model/

# Results folder
results/

# Configuration files
*.json

# Logs
*.log
